In [23]:
import pandas as pd

In [24]:
weatherdf = pd.read_csv('2013_2019.csv')
crashdf = pd.read_csv('cleaned_crashes.csv')

In [25]:
weatherdf = weatherdf.drop(columns = weatherdf.columns[0])
crashdf = crashdf.drop(columns = crashdf.columns[0])

In [26]:
weatherdf

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,DATE,AWND,PRCP,SNOW,SNWD,TAVG
0,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,2013-04-01,10.74,0.00,0.0,0.0,50.0
1,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,2013-04-02,8.28,0.00,0.0,0.0,40.0
2,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,2013-04-03,10.51,0.00,0.0,0.0,40.0
3,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,2013-04-04,4.25,0.04,0.0,0.0,37.0
4,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,2013-04-05,8.05,0.11,0.0,0.0,48.0
...,...,...,...,...,...,...,...,...,...,...,...
2461,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,2019-12-27,2.46,0.00,0.0,0.0,47.0
2462,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,2019-12-28,3.13,0.00,0.0,0.0,50.0
2463,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,2019-12-29,5.59,0.59,0.0,0.0,46.0
2464,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,2019-12-30,6.93,0.24,0.0,0.0,52.0
2465,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,2019-12-31,7.61,0.00,0.0,0.0,46.0

In [27]:
combined = weatherdf.join(crashdf)

In [28]:
combined

combined = combined.drop(columns = ['DATE', 'ReportDate'])

In [29]:
combined

,STATION,NAME,LATITUDE,LONGITUDE,ELEVATION,AWND,PRCP,SNOW,SNWD,TAVG,CrashCount,Year,Month,Day
0,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,10.74,0.00,0.0,0.0,50.0,49,2013,4,1
1,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,8.28,0.00,0.0,0.0,40.0,35,2013,4,2
2,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,10.51,0.00,0.0,0.0,40.0,49,2013,4,3
3,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,4.25,0.04,0.0,0.0,37.0,38,2013,4,4
4,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",39.1733,-76.684,47.5,8.05,0.11,0.0,0.0,48.0,60,2013,4,5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2461,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,2.46,0.00,0.0,0.0,47.0,43,2019,12,27
2462,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,3.13,0.00,0.0,0.0,50.0,57,2019,12,28
2463,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,5.59,0.59,0.0,0.0,46.0,51,2019,12,29
2464,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,6.93,0.24,0.0,0.0,52.0,62,2019,12,30
2465,USW00093721,"BALTIMORE WASHINGTON INTERNATIONAL AIRPORT, MD US",NaN,NaN,NaN,7.61,0.00,0.0,0.0,46.0,47,2019,12,31

In [31]:
combined.to_csv('combined.csv', index=False)